.data{
    background-color: aliceblue;
    padding:10px auto;
    margin:20px auto;
    border-radius: 5px
}

.textfields{
    padding: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
    justify-content: center;
    margin-right: 15px !important;
    margin-bottom: 25px !important;
}
.Button{
    width: 250px;
    height: 40px;
    background-color:green;
    text-align: center;
    border-radius: 5px;
    margin-left: 470px;
}
.Button:hover{
    background-color: chocolate;
}